<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="p-2">
                <h4>My cart</h4>
            </div>
            <%= form_with url: "/products/check_out" do |form| %>
            <% @All_products.each do |one_product| %>
            <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded">
                <div class="mr-1"><select class="form-select" aria-label="Default select example" name=<%= one_product.description %> id="price_rule_one_productaa" type="button">
                  <option>No reduce</option>
                  <option>One Bought, One Offer</option>
                  <option>10% Reduction</option>
                  <option>Third price reduction</option>
              </select></div>
                <div class="d-flex flex-column align-items-center product-details"><span class="font-weight-bold"><%= one_product.name %></span>
                    <div class="d-flex flex-row product-desc">
                        <div class="size mr-1"><span class="text-grey"><%= one_product.description %></span></div>
                    </div>
                </div>
                <div class="d-flex flex-row align-items-center qty"><button type="button" class="fa fa-minus text-danger" onclick="my_function_remove_from_cart(this)" value=<%= one_product.description %>></button>
                    <h5 class="text-grey mt-1 mr-1 ml-1" id=<%= one_product.description %> value="0">0</h5><button type="button" class="fa fa-plus text-success"onclick="my_function_add_to_cart(this)" value=<%= one_product.description %> ></button>
                </div>
                <div>
                    <h5 class="text-grey">$<%= one_product.price %></h5>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center row">
<input type="hidden" name="cart[]" id="cart_list"  required/>
<input class="btn btn-success" name="commmit" type="submit" value="Submit"/>
</div>
<% end %>


<script>

function my_function_add_to_cart(param) {
  var my_tab = []
  var my_cart = document.getElementById("cart_list");
  my_tab.push(my_cart.value)
  my_tab.push(param.value)
  var filtered_arr = my_tab.filter(function (one_case) {
    return one_case != "";
  });
  my_cart.value = filtered_arr
  if(param.value == "SR1")
    document.getElementById("SR1").innerHTML = parseInt(document.getElementById("SR1").innerHTML) + 1;
  if(param.value == "GR1")
    document.getElementById("GR1").innerHTML = parseInt(document.getElementById("GR1").innerHTML) + 1;
  if(param.value == "CF1")
    document.getElementById("CF1").innerHTML = parseInt(document.getElementById("CF1").innerHTML) + 1;
};

function my_function_remove_from_cart(param) {
  var my_tab = []
  var my_cart = document.getElementById("cart_list");
  my_tab.push(my_cart.value)
  var filtered_arr = my_tab.filter(function (one_case) {
    return one_case != "";
  });

  if(filtered_arr.length != 0){
    filtered_arr = filtered_arr[0].split(',');
    var array_index = filtered_arr.indexOf(param.value);
    if(array_index > -1)
      filtered_arr.splice(array_index, 1);
  }

  my_cart.value = filtered_arr
  if(param.value == "SR1"){
    var counter = parseInt(document.getElementById("SR1").innerHTML)
    if(counter > 0)
      document.getElementById("SR1").innerHTML = counter - 1;
  }
  if(param.value == "GR1") {
    var counter = parseInt(document.getElementById("GR1").innerHTML)
    if(counter > 0)
    document.getElementById("GR1").innerHTML = counter - 1;
  }
  if(param.value == "CF1"){
    var counter = parseInt(document.getElementById("CF1").innerHTML)
    if(counter > 0)
    document.getElementById("CF1").innerHTML = counter - 1;
  }

};

</script>
